body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

form {
    background: white;
    padding: 80px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px gray;
    display: inline-block;
    text-align: left;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #28a745;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

button:hover {
    background-color: #218838;
}

#raspuns {
    display: none; /* Inițial ascuns */
    opacity: 0;
    background: #d4edda; /* Verde deschis */
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 15px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: opacity 1s ease-in-out;
}
